<a href="https://colab.research.google.com/github/matteovignoli/Esercitazioni/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In this notebook you will find a project provided by freeCodeCamp which requires us to get some insights from the dataset "1994 Census"

In [2]:
import pandas as pd
import numpy as np

In [89]:
# Mounting Google Drive

from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [90]:
# Read the dataset from Google Drive
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Datasets/adult.data.csv')

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [84]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

[27816, 3124, 1039, 311, 271]

In [67]:
# What is the average age of men?
average_age_men = df['age'][df['sex'] == 'Male'].mean().round(1)
average_age_men

39.4

In [68]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round((len(
  df['education'][df['education'] == 'Bachelors']) / len(df) * 100), 1)
percentage_bachelors

16.4

In [75]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# percentage with salary >50K
higher_education_rich = round((len(higher_education[higher_education['salary'] == '>50K']) / len(higher_education) * 100), 1)

lower_education_rich = round(len(lower_education[lower_education['salary'] == '>50K']) / len(lower_education) * 100, 1)

higher_education_rich, lower_education_rich

(46.5, 17.4)

In [76]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [87]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == df['hours-per-week'].min()]
rich_percentage = round(len(num_min_workers[num_min_workers['salary'] == '>50K']) / len(num_min_workers) *100)
rich_percentage

10

In [83]:
# What country has the highest percentage of people that earn >50K?

country_count = df['native-country'].value_counts()
country_count_rich = df[df['salary'] == '>50K']['native-country'].value_counts()

highest_earning_country = (country_count_rich / country_count * 100).idxmax()
highest_earning_country_percentage = round((country_count_rich / country_count * 100).max(),1)
highest_earning_country, highest_earning_country_percentage

('Iran', 41.9)

In [81]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'